<a href="https://colab.research.google.com/github/Rohit7798-ai/Rohit/blob/main/Python_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
count = 1
while count <= 5:
  print("Hello", count)
  count += 1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [ ]:
i = 5
while i >= 1:
  print(i)
  i -= 1

5
4
3
2
1

First practice **problem**

In [ ]:
i = 1
while i <= 100:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Second Practice **Problem**

In [ ]:
i = 100
while i >= 1:
  print(i)
  i -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

Table Printing **Loop**

In [ ]:
n = int(input("Enter a number :"))
i = 1
while i <= 10:
  print(n*i)
  i += 1

Enter a number :2
2
4
6
8
10
12
14
16
18
20

print List using **Loop**

In [ ]:
 l = [1,4,9,16,25,36,49,64,81,100]
 idx = 0
 while idx <= len(l):
  print(idx)
  idx += 1

0
1
2
3
4
5
6
7
8
9
10

Number Searching Using **Loop** (break and Continue)

In [ ]:
nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = int(input("Enter the number: "))
i = 0

while i < len(nums):
    if nums[i] == x:
        print("FOUND")
        break
    i += 1
else:

    print("NOT FOUND")

Enter the number: 2
NOT FOUND

In [ ]:
i = 0
while i <= 10:
  if (i%2 !=  0):
    i += 1
    continue
  print(i)
  i += 1

0
2
4
6
8
10

FOR LOOP **STARTING**

In [ ]:
str = "Rohitchavan"
for values in str:

  if values == 'h':
    print("Found")
    break
  print(values)
else:
  print("Not Found")

R
o
Found

In [ ]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
for el in nums:
  print(el)

1
4
9
16
25
36
49
64
81
100

Number finding using for **loop**

In [ ]:
nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = int(input("Enter the number:"))


i = 0
for el in nums:
  if el == x:
    print("Number Found At index", i)
    break
  i+= 1

else:
  print("Number Not Found", i )

Enter the number:25
Number Found At index 4

Range **Prablems**

In [ ]:
for i in range(0 , 101):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
n = int(input("Enter the number:"))
for i in range ( 1 , 11):
  print(i * n)

Enter the number:3
3
6
9
12
15
18
21
24
27
30

Number of sum

In [ ]:
n = int(input("Enter the number:"))
sum = 0
i = 1
while i <= n:
  sum += i
  i += 1

print("Total number of sum", sum)

Enter the number:5
Total number of sum 15

Function And **Reccursion**

In [ ]:
def cal_sum(a,b):
  sum = a+b
  print(sum)

cal_sum(2,2)
cal_sum(10,12)

4
22

Average Getting **Code**

In [ ]:
def cal_avg (a,b,c):
  sum = a+b+c
  avg = sum/3
  print(avg)

cal_avg(2,2,2)

2.0

**Practice**

In [ ]:
names = ["Rohit", "Tushar", "Manish", "dev","kabir"]

def print_len(list):
  print(len(list))

print(len(names))

5

In [ ]:
names = ["Rohit", "Tushar", "Manish", "dev","kabir"]

def print_len(list):
  print(len(list))
  for item in list:
    print(item , end = "")

print(names)

['Rohit', 'Tushar', 'Manish', 'dev', 'kabir']

USD to **INR**

In [4]:
def converter (usd_value):
  inr = usd_value*83
  print(usd_value , "USD :", inr , "INR")

converter(2)

2 USD : 166 INR

In [12]:
def nums ( numbers):
  if numbers %2 == 0:
    print("even")
  else:
    print("odd")

nums(4)

even

**Recuursion**

In [24]:
def show(n):
    if n == 0:
        return  # This ensures the recursion stops when n reaches 0.
    print(n)
    show(n-1)  # Recursive call to decrement n and continue.

show(5)

5
4
3
2
1

In [26]:
def fact(n):
  if n == 0 or n == 1:
    return 1
  return fact (n-1) * n

print(fact(5))

120

First N natural Number **Sum**

In [31]:
def natural(n):
  if n == 0:
    return
  return n*(n+1)//2

print(natural(10))

55

In [32]:
def print_elements(lst, index=0):
    # Base case: if the index is equal to the length of the list, return
    if index == len(lst):
        return
    # Print the current element
    print(lst[index])
    # Recursive call to print the next element
    print_elements(lst, index + 1)

# Example usage
my_list = [1, 2, 3, 4, 5]
print_elements(my_list)

1
2
3
4
5